@import '../../../../../styles/mixins.scss';

.info {
  @include glass;

  margin: -100px auto 0;
  padding: 20px;
  width: 400px;
  max-width: 100%;
  border-radius: 20px;

  position: relative;
  z-index: 2;

  &__location {
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    span {
      margin-right: 10px;
    }

    &__title {
      font-size: 19px;
    }
  }

  &__description {
    max-height: 360px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
  }

  &__feature {
    display: flex;
    justify-content: center;

    &__item {
      padding: 10px 25px;
      border-radius: 20px;
      font-size: 15px;
      font-weight: 500;
      background-color: rgba(0, 0, 0, 0.25);
      border: 1px solid rgba(255, 255, 255, 0.25);

      display: flex;
      align-items: center;

      span {
        margin-right: 7px;
      }
    }

    &__rating {
      margin-right: 25px;

      span {
        font-size: 20px;
        color: var(--gold);
      }
    }
  }
}
