.filters {
  max-width: 355px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  button {
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 12px 15px;
    font-weight: 700;
    background-color: #333;
    border: 1px solid transparent;
    border-radius: 12px;
    transition: all 0.2s linear;

    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &.active {
      border: 1px solid var(--accent);
    }
  }
}
