.page {
  &__img {
    position: relative;
    height: 450px;
    width: calc(100% + 14px);
    margin-left: -7px;
    z-index: 1;
  }

  &__info {
    margin: -100px auto 0;
    padding: 20px 20px 60px;
    width: 400px;
    max-width: 100%;

    position: relative;
    z-index: 2;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      border-radius: 25px;
      filter: blur(3px);
      background-color: rgba(48, 48, 48, 0.75);

      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }
}

.location {
  margin-bottom: 10px;
  display: flex;
  align-items: center;

  span {
    margin-right: 10px;
  }

  .title {
    font-size: 19px;
  }
}

.description {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;
}

.feature {
  display: flex;
  justify-content: center;

  &__item {
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.25);

    display: flex;
    align-items: center;

    span {
      margin-right: 7px;
    }
  }

  &__rating {
    margin-right: 25px;

    span {
      font-size: 20px;
      color: var(--gold);
    }
  }
}
